html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
	box-sizing: border-box;
}

/*******************/
@import url(../fonts/fonts.css);

$primary: #00d2d1;
$secondary: #34303e;

body {
	font-family: "IQOSSansArabicW04-Arabic-Light";
	background: $primary;
	color: $secondary;
	direction: rtl;
	overflow-x: hidden;
	font-size: 18px;
	line-height: 32px;
	@media (max-width: 767px) {
		font-size: 14px;
		line-height: 26px;
	}
}

.wrapper {
	overflow: hidden;
	padding: 50px 0;
	@media (max-width: 767px) {
		padding: 30px 0;
	}
}

.heading {
	text-align: center;
	font-family: "IQOSSansArabicW04-Arabic-Bold";
	h1 {
		margin: 0 auto;
		width: fit-content;
		min-width: 117px;
		min-height: 49px;
		font-size: 30px;
		display: flex;
		justify-content: center;
		background: #34303e;
		border-radius: 15px;
		padding: 5px 30px;
		color: #fff;
		@media (max-width: 767px) {
			min-height: 43px;
			font-size: 22px;
		}
	}
}
.wifi {
	margin-top: 50px;
	text-align: center;
	@media (max-width: 991px) {
		margin-top: 20px;
	}
}
.desc {
	margin-top: 25px;
	text-align: center;
	span {
		font-family: "IQOSSansArabicW04-Arabic-Bold";
	}
}
.form {
	max-width: 500px;
	margin: 25px auto 0;
	.custom__radio {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		.radio {
			margin-bottom: 15px;
			@media (max-width: 767px) {
				margin-bottom: 5px;
			}
			&:not(:last-child) {
				margin-left: 15px;
				@media (max-width: 767px) {
					margin-left: 5px;
				}
			}
			span {
				cursor: pointer;
				min-height: 48px;
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: 15px;
				padding: 5px 15px;
				background: rgba(#01b2aa, 0.5);
				color: #fff;
				transition: 0.3s all ease-in-out;
				position: relative;
				overflow: hidden;
				z-index: 0;
				&::before {
					background-color: #fffdfb;
					content: "";
					height: 200%;
					position: absolute;
					right: -121%;
					top: -50%;
					transform: skewX(0deg);
					transition: right 0.3s, transform 0.3s, width 0.3s;
					width: 0;
					z-index: -1;
				}
				&:hover {
					color: $secondary;
					&::before {
						box-shadow: inset 0 0 0 0 #fffdfb;
						content: "";
						right: -10%;
						transform: skewX(20deg);
						width: 120%;
					}
				}
			}
			input {
				display: none;
				&:checked + span {
					background: $secondary;
				}
			}
		}
	}
	.groups {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		.form__group {
			flex: 0 0 48%;
			max-width: 48%;
			&:last-child {
				flex: 0 0 100%;
				max-width: 100%;
			}
			@media (max-width: 767px) {
				flex: 0 0 100%;
				max-width: 100%;
			}
		}
		@media (max-width: 767px) {
			max-width: 70%;
			margin: 0 auto;
		}
	}
	.form__group {
		margin-bottom: 30px;
		label {
			font-family: "IQOSSansArabicW04-Arabic-Bold";
			color: #fff;
		}
		.form__control {
			margin-top: 15px;
			display: block;
			width: 100%;
			padding: 5px 15px;
			min-height: 48px;
			border-radius: 15px;
			border: 1px solid #fff;
			background: $primary;
			color: $secondary;
			transition: 0.3s all ease-in-out;
			font-family: "IQOSSansArabicW04-Arabic-Light";
			font-size: 18px;
            @media(max-width: 767px) {
                font-size: 14px;
            }
			&:focus {
				outline: none;
				border-color: $secondary;
			}
		}
	}
	.custom__check {
		.text {
			color: #fff;
			position: relative;
			padding-right: 30px;
			cursor: pointer;
			&::before {
				content: "";
				position: absolute;
				right: 0;
				top: 4px;
				width: 18px;
				height: 18px;
				border: 1px solid #fff;
				border-radius: 5px;
				@media (max-width: 767px) {
					width: 15px;
					height: 15px;
				}
			}
			&::after {
				content: "";
				position: absolute;
				right: 3px;
				top: 7px;
				width: 13px;
				height: 13px;
				background: url(../../assets/images/check.svg) no-repeat center/13px;
				opacity: 0;
				transform-origin: center;
				transform: scale(0);
				transition: 0.3s all ease-in-out;
                @media(max-width: 767px) {
                    width: 10px;
                    height: 10px;
                    background-size: 10px;
                }
			}
			span {
				font-family: "IQOSSansArabicW04-Arabic-Bold";
			}
		}
		input {
			display: none;
			&:checked + .text {
				&::after {
					opacity: 1;
					transform: scale(1);
				}
			}
		}
	}
	.btn {
		font-family: "IQOSSansArabicW04-Arabic-Bold";
		background: $secondary;
		padding: 5px 45px;
		min-height: 40px;
		color: #fff;
		border-radius: 15px;
		border: none;
		width: fit-content;
		display: block;
		margin: 30px auto 0;
		font-size: 20px;
		cursor: pointer;
		position: relative;
		overflow: hidden;
		z-index: 0;
		transition: 0.3s all ease-in-out;
		@media (max-width: 767px) {
			font-size: 16px;
		}
		&::before {
			background-color: #fffdfb;
			content: "";
			height: 200%;
			position: absolute;
			right: -121%;
			top: -50%;
			transform: skewX(0deg);
			transition: right 0.3s, transform 0.3s, width 0.3s;
			width: 0;
			z-index: -1;
		}
		&:hover {
			color: $secondary;
			&::before {
				box-shadow: inset 0 0 0 0 #fffdfb;
				content: "";
				right: -10%;
				transform: skewX(20deg);
				width: 120%;
			}
		}
	}
}
#ui-datepicker-div {
	display: none;
	background-color: #fff;
	box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
	margin-top: 0.25rem;
	border-radius: 0.5rem;
	padding: 0.5rem;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.ui-datepicker-calendar thead th {
	padding: 0.25rem 0;
	text-align: center;
	font-size: 0.75rem;
	font-weight: 400;
	color: #78909c;
}
.ui-datepicker-calendar tbody td {
	width: 2.5rem;
	text-align: center;
	padding: 0;
}
.ui-datepicker-calendar tbody td a {
	display: block;
	border-radius: 0.25rem;
	line-height: 2rem;
	transition: 0.3s all;
	color: #546e7a;
	font-size: 0.875rem;
	text-decoration: none;
}
.ui-datepicker-calendar tbody td a:hover {
	background-color: #e0f2f1;
}
.ui-datepicker-calendar tbody td a.ui-state-active {
	background-color: #009688;
	color: white;
}
.ui-datepicker-header a.ui-corner-all {
	cursor: pointer;
	position: absolute;
	top: 0;
	width: 2rem;
	height: 2rem;
	margin: 0.5rem;
	border-radius: 0.25rem;
	transition: 0.3s all;
}
.ui-datepicker-header a.ui-corner-all:hover {
	background-color: #eceff1;
}
.ui-datepicker-header a.ui-datepicker-prev {
	left: 0;
	background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMyIgdmlld0JveD0iMCAwIDEzIDEzIj48cGF0aCBmaWxsPSIjNDI0NzcwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik03LjI4OCA2LjI5NkwzLjIwMiAyLjIxYS43MS43MSAwIDAgMSAuMDA3LS45OTljLjI4LS4yOC43MjUtLjI4Ljk5OS0uMDA3TDguODAzIDUuOGEuNjk1LjY5NSAwIDAgMSAuMjAyLjQ5Ni42OTUuNjk1IDAgMCAxLS4yMDIuNDk3bC00LjU5NSA0LjU5NWEuNzA0LjcwNCAwIDAgMS0xLS4wMDcuNzEuNzEgMCAwIDEtLjAwNi0uOTk5bDQuMDg2LTQuMDg2eiIvPjwvc3ZnPg==");
	background-repeat: no-repeat;
	background-size: 0.5rem;
	background-position: 50%;
	transform: rotate(180deg);
}
.ui-datepicker-header a.ui-datepicker-next {
	right: 0;
	background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMyIgdmlld0JveD0iMCAwIDEzIDEzIj48cGF0aCBmaWxsPSIjNDI0NzcwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik03LjI4OCA2LjI5NkwzLjIwMiAyLjIxYS43MS43MSAwIDAgMSAuMDA3LS45OTljLjI4LS4yOC43MjUtLjI4Ljk5OS0uMDA3TDguODAzIDUuOGEuNjk1LjY5NSAwIDAgMSAuMjAyLjQ5Ni42OTUuNjk1IDAgMCAxLS4yMDIuNDk3bC00LjU5NSA0LjU5NWEuNzA0LjcwNCAwIDAgMS0xLS4wMDcuNzEuNzEgMCAwIDEtLjAwNi0uOTk5bDQuMDg2LTQuMDg2eiIvPjwvc3ZnPg==");
	background-repeat: no-repeat;
	background-size: 10px;
	background-position: 50%;
}
.ui-datepicker-header a > span {
	display: none;
}
.ui-datepicker-title {
	text-align: center;
	line-height: 2rem;
	margin-bottom: 0.25rem;
	font-size: 0.875rem;
	font-weight: 500;
	padding-bottom: 0.25rem;
}
.ui-datepicker-week-col {
	color: #78909c;
	font-weight: 400;
	font-size: 0.75rem;
}
